<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d88cf5">  <td>22/03/29 16:52:29</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Driverfactory.CloseBrowser()[pri:0, instance:Amazon.Amazontest@4e268090]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234250905</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>22/03/29 16:52:10</td>   <td>-18997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Amazontest.addToCart()[pri:2, instance:Amazon.Amazontest@4e268090]">addToCart</td> 
  <td>main@1234250905</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>22/03/29 16:52:13</td>   <td>-15506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Amazontest.countOfItems()[pri:3, instance:Amazon.Amazontest@4e268090]">countOfItems</td> 
  <td>main@1234250905</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/03/29 16:51:54</td>   <td>-34917</td> <td>&nbsp;</td><td title="&gt;&gt;Driverfactory.openBrowser()[pri:0, instance:Amazon.Amazontest@4e268090]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234250905</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>22/03/29 16:52:19</td>   <td>-10088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Amazontest.removeItem()[pri:4, instance:Amazon.Amazontest@4e268090]">removeItem</td> 
  <td>main@1234250905</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>22/03/29 16:52:02</td>   <td>-27330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Amazontest.searchItem()[pri:1, instance:Amazon.Amazontest@4e268090]">searchItem</td> 
  <td>main@1234250905</td>   <td></td> </tr>
</table>
